<div class="button-container">
  <button class="composeButton" onclick="location.href='/compose'">My Thoughts:</button>
</div>

<div class="footer-padding"></div>
<div class="footer">
  <p>Copyright © 2022 </p>
</div>
</div>
</body>
