<%- include("partials/header"); -%>
<p class="greetingText"><%=greetingText%> 🤗</p>
<div class="dailyquote">
  <h4>We all want to be famous people, and the moment we want to be something we are no longer free.
- Jiddu Krishnamurti</h4>
</div>


<%- include("partials/footer"); -%>
