<%- include("partials/header"); -%>

<p class="greetingText"><%=greetingText%> 🤗</p>

<div class="dailyquote">
  <h4>Waste no more time arguing what a good man should be. Be One.– Marcus Aurelius</h4>
</div>

<%- include("partials/footer"); -%>
