<%- include("partials/header"); -%>
<p class="greetingText"><%=greetingText%> 🤗</p>
<div class="dailyquote">
  <h4>What man actually needs is not a tensionless state but rather the striving and struggling for some goal worthy of him. – Viktor Frankl</h4>
</div>


<%- include("partials/footer"); -%>
