<%- include("partials/header"); -%>
<p class="greetingText"><%=greetingText%> 🤗</p>
<div class="dailyquote">
  <h4>A single day among the learned lasts longer than the longest life of the ignorant. — Posidonius</h4>
</div>


<%- include("partials/footer"); -%>
