<%- include("partials/header"); -%>

<p class="greetingText"><%=greetingText%> 🤗</p>

<div class="dailyquote">
  <h4>Think of the life you have lived until now as over and, as a dead man, see what’s left as a bonus and live it according to Nature. Love the hand that fate deals you and play it as your own, for what could be more fitting? – Marcus Aurelius</h4>
</div>

<%- include("partials/footer"); -%>
