<%- include("partials/header"); -%>
<p class="greetingText"><%=greetingText%> 🤗</p>
<div class="dailyquote">
  <h4>What is death? A scary mask. Take it off – see, it doesn’t bite. Eventually, body and soul will have to separate, just as they existed separately before we were born. So why be upset if it happens now? If it isn’t now, it’s later.
— Epictetus</h4>
</div>

<%- include("partials/footer"); -%>
