<%- include("partials/header"); -%>
<p class="greetingText"><%=greetingText%> 🤗</p>
<div class="dailyquote">
  <h4>Difficulty is what wakes up the genius. — Nassim Nicholas Taleb</h4>
</div>


<%- include("partials/footer"); -%>
