<%- include("partials/header"); -%>
<p class="greetingText"><%=greetingText%> 🤗</p>
<div class="dailyquote">
  <h4>Life is essentially an endless series of problems. The solution to one problem is merely the creation of another.
― Mark Manson</h4>
</div>

<%- include("partials/footer"); -%>
